.fullscreen {
    height: 100%;
    background: linear-gradient(#22252adf), url("../../../assets/image/bg2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.text-center {
    display: -webkit-flex;
    padding: 25px;
}

.display-4 {
    text-align: center;
    font-family: helvetica;
    font-size: 250%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: none;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 0%;
    color: #ffffff;
    background-color: #FF4136;
}

.btn:hover {
    color: #ffffff;
    background-color: #920d27;
    transition: 0.5s ease-in-out;
}

.alert {
    background-color: #FF4136;
    text-align: center;
}
