<div class="jumbotron">
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <div class="wow zoomIn">
                    <h3 class="titre" style="color: #ffffff;">Devis chirurgie esthétique en Tunisie<br>gratuit et sans engagement</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ground">
    <div class="container">
        <div class="rowed">
            <div class="wow fadeInUp">
                <!-- form -->
                <form [formGroup]="registerForm" id="contactForm">
                    <div class="form-row">
                        <div class="form-group">
                            <p class="titre">remplir votre cordonnée</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <select id="title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
              <option value="">titre..</option>
              <option value="Monsieur">Monsieur</option>
              <option value="Madame">Madame</option>
              <option value="Mademoiselle">Mademoiselle</option>
            </select>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">
                                    Title obligatoire
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <input id="fname" placeholder="votre nom ici.." type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">
                                    Nom est obligatoire
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <input id="lname" placeholder="votre prenom ici.." type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">
                                    Prenom est obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <input type="text" fromControlName="sujet" class="form-control" id="subject" value="Rendez-vous" disabled="true" />
                        </div>
                        <div class="form-group col-sm-4">
                            <input id="date" type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                <div *ngIf="f.date.errors.required">
                                    Sélection date de visite
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <select id="region" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
              <option value="">Region ici ..</option>
              <option value="ariana">Ariana</option>
              <option value="beja">Beja</option>
              <option value="ben arous">Ben arous</option>
              <option value="bizerte">Bizerte</option>
              <option value="gabes">Gabes</option>
              <option value="gafsa">Gafsa</option>
              <option value="jendouba">Jendouba</option>
              <option value="kairouan">Kairouan</option>
              <option value="kasserine">Kasserine</option>
              <option value="kbelli">Kbelli</option>
              <option value="kef">Kef</option>
              <option value="mahdia">Mahdia</option>
              <option value="manouba">Manouba</option>
              <option value="mednine">mednine</option>
              <option value="monsatir">Monsastir</option>
              <option value="nabeul">Nabeul</option>
              <option value="sfax">Sfax</option>
              <option value="sidi bouzid">Sidi bouzid</option>
              <option value="siliana">Siliana</option>
              <option value="sousse">Sousse</option>
              <option value="tatatouine">Tataouine</option>
              <option value="tozeur">Tozeur</option>
              <option value="tunis">tunis</option>
              <option value="zaghouan">Zaghouan</option>
            </select>
                            <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                                <div *ngIf="f.region.errors.required">
                                    Choisir region
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <input id="age" placeholder="votre age ici.." type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                            <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                                <div *ngIf="f.age.errors.required">
                                    plus que 18
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <input id="cin" placeholder="Cin ici.." type="text" formControlName="cin" class="form-control" pattern="[0-9]{8}" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" />
                            <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
                                <div *ngIf="f.cin.errors.required">invalide</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input id="email" placeholder="votre Email ici.." type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email est obligatoire</div>
                                <div *ngIf="f.email.errors.email">Email est invalide</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input id="telephone" placeholder="votre telephone ici.." type="tel" pattern="[0-9]{2}[0-9]{3}[0-9]{3}" formControlName="telef" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telef.errors }" />
                            <div *ngIf="submitted && f.telef.errors" class="invalid-feedback">
                                <div *ngIf="f.telef.errors.required">verifier to numero</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea formControlName="textarea" placeholder="Ecrire message ici.." id="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.textarea.errors }"></textarea>
                        <div *ngIf="submitted && f.textarea.errors" class="invalid-feedback">
                            <div *ngIf="f.textarea.errors.required">laissez un message</div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">
            &nbsp;&nbsp;Accepter les Terms & les Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                            Ts & Cs sont obligatoires
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <button type="submit" value="submit" (click)="onSubmit(registerForm.value)" class="btn btn-dark mr-1">
                Demande
              </button>
                            </div>
                            <div class="form-group col-lg-6">
                                <button class="btn btn-danger" type="reset" (click)="onReset()">
                Re-remplir
              </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!---->
            </div>
        </div>
    </div>
</div>
<!-- map -->
<div class="canvas">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.4054781623504!2d10.23405091569674!3d36.83276397356482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd351542241b9d%3A0x47fad501242eec31!2sTouchlink!5e0!3m2!1sfr!2stn!4v1580390891414!5m2!1sfr!2stn"
        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<!---->

<!-- admin -->
<div class="large-screen">
    <div class="wow fadeInUp">
        <div class="block">
            <h3 class="titre" style="color: #ffffff;">identifier comme administrateur</h3>
            <br>
            <a type="button" class="bttn" routerLink="/admin" routerLinkActive="router-link-active">identifer <i class="fas fa-user-cog"></i></a>
        </div>

    </div>
</div>
<!---->
