<nav class="navbar navbar-expand-lg navbar-light bg-light" data-toggle="affix" mdbStickyHeader>
    <!--we added the mdbSticky header to make the nav bar apper when scrolling up and dissaper when scrolling down-->
    <a href="#" routerLink="/" class="logo"><img id="logo" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.medespoir.tv/bib/2019/01/logo-footer.png" height="10" width="100" alt=""><img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="showhide" class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" data-toggle="collapse" data-target=".navbar-collapse">
            <a class="nav-item nav-link" href="#" routerLink="/">Accueil<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" routerLink="/media" [routerLinkActive]="['active']">MedEspoir TV</a>
            <a class="nav-item nav-link" href="#" routerLink="/temo" [routerLinkActive]="['active']">Temoignages Patients</a>
            <a class="nav-item nav-link" href="#" routerLink="/tele" [routerLinkActive]="['active']">Téléréalité</a>
            <a class="nav-item nav-link" href="#" routerLink="/devis" [routerLinkActive]="['active']">Devis</a>
            <a class="nav-item nav-link" href="#" routerLink="/blog" [routerLinkActive]="['active']">Blog</a>
        </div>
        <a class="logo" routerLink="/admin"><i data-toggle="collapse" data-target=".navbar-collapse" class="fas fa-user-cog"></i></a>
    </div>
</nav>
<!--routing-->
<span>
<router-outlet></router-outlet>
</span>
<!--footer-->
<hr>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div id="outro" class="col-md-5 mt-md-0 mt-2">
                <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.medespoir.tv/bib/2019/01/logo-footer.png">
                <p>Des émissions TV sur la chirurgie en Tunisie diffusées sur TF1 ou NRJ 12.<br> Des émissions avec les stars de téléréalité qui ont choisi Medespoir pour faire<br> leurs interventions de chirurgie plastique</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Lines utiles</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="routed" href="#" routerLink="/devis">Contact</a>
                    </li>
                    <li>
                        <a class="routed" href="#" routerLink="/tele">Téléréalités</a>
                    </li>
                    <li>
                        <a class="routed" href="#" routerLink="/media">Media TV</a>
                    </li>
                    <li>
                        <a class="routed" href="#" routerLink="/temo">Témoignage</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">a nous contacter</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="routed" href="#!"><i class="fas fa-phone"> 0033(0)1 84 800 400</i></a>
                    </li>
                    <li>
                        <a class="routed" href="#!"><i class="fas fa-phone-alt"> 00 216 71 963 230</i></a>
                    </li>
                    <li>
                        <a class="routed" href="#!">&nbsp;<i class="fas fa-mobile-alt">&nbsp;&nbsp;00 216 29 703 023</i></a>
                    </li>
                    <li>
                        <a class="routed" href="#!"><i class="far fa-envelope"> contact@medespoir.tv</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="listgroup">
        <li id="list-li">
            <a id="facebook" href="https://www.facebook.com/MedEspoirSuisse/" target="blanc"><i id="social-icon" class="fab fa-facebook-f"></i></a>
        </li>
        <li id="list-li">
            <a id="instagram" href="https://www.instagram.com/medespoirtn/" target="blanc"><i id="social-icon" class="fab fa-instagram"></i></a>
        </li>
        <li id="list-li">
            <a id="twitter" href="https://twitter.com/MedEspoirTN" target="blanc"><i id="social-icon" class="fab fa-twitter"></i></a>
        </li>
        <li id="list-li">
            <a id="youtube" href="https://www.youtube.com/channel/UCo6gBWsB1d-hnVmx9mMn6BQ" target="blanc"><i id="social-icon" class="fab fa-youtube"></i></a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: MEDESPOIR</div>
</footer>
<!---->
